body{
  padding: 0px;
  margin: 0px;
  background-color: beige;
  font-weight: bold;
}


#top {
  background-color: #ffd700;
  padding: 65px;
}

#footer {
  background-color: #022c43;
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 65px 0 65px 0;
  
}

h1{
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 200px;
  color: #115173;
  font-size: 40px;
}

#cs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #115173;
  text-decoration: none;
  position: relative;
}

#cs::after {
  content: '';
  display: block;
  position:absolute;
  width: 0%;
  height: 3px;
  left: 0;
  background-color: #115173;
  transition: width 0.5s;
}

#cs:hover::after {
  width: 100%;
}

#madeby {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffd700;
}

p{
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

h6 {
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: none;
}


#milow, #axxiar {
  color: #ffd700;
  text-decoration: none;
  position: relative;
  transition-duration: 0.9s;
}

#milow::after, #axxiar::after {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  background-color: #ffd700;
  transition: width 0.5s;
}

#milow:hover::after, #axxiar:hover::after {
  width: 100%;
}

img {
  display: block;
  border-radius: 10px;
  margin: 50px auto 50px auto;
  box-shadow: 4px 4px 2px #ffd700 , -4px 4px 2px #ffd700, 4px -4px 2px #ffd700, -4px -4px 2px #ffd700
}



#mi, #ax {
  opacity: 0;
  transition: opacity 0.6s;
  display:inline;
}
