body{
  padding: 0px;
  margin: 0px;
  background-color: beige;
}


#top {
  background-color: #ffd700;
  padding: 65px;
}

#footer {
  background-color: #022c43;
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 65px 0 65px 0;
  
}

h1{
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 200px;
  color: #115173;
  font-size: 40px;
}

#cs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #115173;
  text-decoration: none;
  position: relative;
}

#cs::after {
  content: '';
  display: block;
  position:absolute;
  width: 0%;
  height: 3px;
  left: 0;
  background-color: #115173;
  transition: width 0.5s;
}

#cs:hover::after {
  width: 100%;
}

#madeby {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffd700;
}

p{
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}


#milow, #axxiar {
  color: #ffd700;
  text-decoration: none;
  position: relative;
  transition-duration: 0.9s;
}

#milow::after, #axxiar::after {
  content: '';
  display: block;
  position: absolute;
  width: 0.0%;
  height: 2px;
  left: 0;
  background-color: #ffd700;
  transition: width 0.5s;
}

#milow:hover::after, #axxiar:hover::after {
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  transform: scale(0.45)
    translateZ(8rem);
  transition: 0.35s ease;
}

img:hover {
  transform: scale(0.6);
  border-radius: 10px;
  box-shadow: 8px 8px #ffd700, 8px -8px #ffd700, -8px 8px #ffd700, -8px -8px #ffd700;
}

#mi, #ax {
  opacity: 0;
  transition: opacity 0.6s;
  display:inline;
}
